In [1]:
import pandas as pd
import yfinance as yf
import os

In [52]:
# Список тикеров
tickers = {
    "crypto": ['BTC-USD', 'ETH-USD', 'SOL-USD'],
    "commodities": ['GC=F', 'CL=F', 'BZ=F'],
    "sp500_index": ['SPY', 'VT'],
    "us_bonds": ['BND', 'TLT', 'IEF', 'AGG']
}

In [53]:
base_dir = "data"

In [ ]:
df = yf.download("^SP500TR", start="1980-01-01", interval="1d")
df.columns = df.columns.droplevel(1)

C:\Users\koles\AppData\Local\Temp\ipykernel_4336\3232886405.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("^SP500TR", start="1980-01-01", interval="1d")
[*********************100%***********************]  1 of 1 completed

In [11]:
df.head()

Price            Close        High         Low        Open  Volume
Date
1988-01-04  256.019989  256.019989  256.019989  256.019989       0
1988-01-05  258.769989  258.769989  258.769989  258.769989       0
1988-01-06  259.029999  259.029999  259.029999  259.029999       0
1988-01-07  261.209991  261.209991  261.209991  261.209991       0
1988-01-08  243.550003  243.550003  243.550003  243.550003       0

In [12]:
df.tail()

Price              Close          High           Low          Open  Volume
Date
2025-10-20  14938.290039  14958.740234  14838.320312  14838.320312       0
2025-10-21  14938.830078  14975.950195  14910.530273  14941.929688       0
2025-10-22  14859.330078  14953.259766  14762.370117  14952.349609       0
2025-10-23  14946.129883  14970.639648  14861.750000  14868.969727       0
2025-10-24  15064.910156  15098.990234  15021.400391  15021.400391       0

In [13]:
df.to_csv(os.path.join("..", "data", "daily", "indices", "US", "sp500_TR.csv"))

In [54]:
# загрузка данных
for category, symbols in tickers.items():
    category_path = os.path.join(base_dir, category)
    os.makedirs(category_path, exist_ok=True)

    for symbol in symbols:
        try:
            df = yf.download(symbol, start="1995-01-01", interval="1mo")
            df = df.dropna()
            df.columns = df.columns.droplevel(1)

            filename = symbol.replace("=", "-").replace("/", "-") + ".csv"
            filepath = os.path.join(category_path, filename)
            df.to_csv(filepath)
            print(f"✅ Saved {symbol} to {filepath}")
        except Exception as e:
            print(f"❌ Error with {symbol}: {e}")

C:\Users\pluso\AppData\Local\Temp\ipykernel_25108\3106022739.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start="1995-01-01", interval="1mo")
[*********************100%***********************]  1 of 1 completed
C:\Users\pluso\AppData\Local\Temp\ipykernel_25108\3106022739.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start="1995-01-01", interval="1mo")

✅ Saved BTC-USD to data\crypto\BTC-USD.csv

[*********************100%***********************]  1 of 1 completed
C:\Users\pluso\AppData\Local\Temp\ipykernel_25108\3106022739.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start="1995-01-01", interval="1mo")

✅ Saved ETH-USD to data\crypto\ETH-USD.csv

[*********************100%***********************]  1 of 1 completed
C:\Users\pluso\AppData\Local\Temp\ipykernel_25108\3106022739.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start="1995-01-01", interval="1mo")

✅ Saved SOL-USD to data\crypto\SOL-USD.csv

[*********************100%***********************]  1 of 1 completed
C:\Users\pluso\AppData\Local\Temp\ipykernel_25108\3106022739.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start="1995-01-01", interval="1mo")

✅ Saved GC=F to data\commodities\GC-F.csv

[*********************100%***********************]  1 of 1 completed
C:\Users\pluso\AppData\Local\Temp\ipykernel_25108\3106022739.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start="1995-01-01", interval="1mo")

✅ Saved CL=F to data\commodities\CL-F.csv

[*********************100%***********************]  1 of 1 completed
C:\Users\pluso\AppData\Local\Temp\ipykernel_25108\3106022739.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start="1995-01-01", interval="1mo")

✅ Saved BZ=F to data\commodities\BZ-F.csv

[*********************100%***********************]  1 of 1 completed
C:\Users\pluso\AppData\Local\Temp\ipykernel_25108\3106022739.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start="1995-01-01", interval="1mo")

✅ Saved SPY to data\sp500_index\SPY.csv

[*********************100%***********************]  1 of 1 completed
C:\Users\pluso\AppData\Local\Temp\ipykernel_25108\3106022739.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start="1995-01-01", interval="1mo")

✅ Saved VT to data\sp500_index\VT.csv

[*********************100%***********************]  1 of 1 completed
C:\Users\pluso\AppData\Local\Temp\ipykernel_25108\3106022739.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start="1995-01-01", interval="1mo")

✅ Saved BND to data\us_bonds\BND.csv

[*********************100%***********************]  1 of 1 completed
C:\Users\pluso\AppData\Local\Temp\ipykernel_25108\3106022739.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start="1995-01-01", interval="1mo")

✅ Saved TLT to data\us_bonds\TLT.csv

[*********************100%***********************]  1 of 1 completed
C:\Users\pluso\AppData\Local\Temp\ipykernel_25108\3106022739.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start="1995-01-01", interval="1mo")

✅ Saved IEF to data\us_bonds\IEF.csv

[*********************100%***********************]  1 of 1 completed

✅ Saved AGG to data\us_bonds\AGG.csv

In [55]:
df

Price           Close       High        Low       Open     Volume
Date
2003-09-01  51.508633  51.528695  51.207707  51.303001      76200
2003-10-01  51.027134  51.533695  50.430299  51.478525     860700
2003-11-01  51.017075  51.378187  50.430269  50.821473     672600
2003-12-01  51.414143  51.741301  50.633995  50.910823    1173800
2004-01-01  51.926868  52.529140  51.268928  51.699121    1058400
...               ...        ...        ...        ...        ...
2025-03-01  97.337761  97.810087  96.442320  97.081925  173294600
2025-04-01  97.735512  99.245671  94.902746  97.528237  211039700
2025-05-01  97.146622  97.909143  95.720621  97.869531  174232800
2025-06-01  98.555428  98.585239  96.598234  96.598234  187026100
2025-07-01  98.050003  98.949997  97.930000  98.870003   76093108

[263 rows x 5 columns]